.footer {
  width: 100%;
  background: #8b1b36;
  display: flex;
  justify-content: center;
}
.footer-img {
  width: 224px;
  height: 306.36px;
  flex-shrink: 0;
  margin: 30px;
}

.footer-text {
  margin: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.footer-title {
  color: #fff;
  font-family: "Neue Machina";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.9px;
  margin-bottom: 25px;
}

.footer-menu {
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 40px;
}

.footer-menu-title {
  color: #fff;
  font-family: "Neue Machina";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-block-1 {
  margin: 25px;
}

.footer-block-2 {
  margin: 25px;
  display: flex;
}

.footer-podblock {
  margin-right: 25px;
  width: 230px;
}

.footer-images {
  display: flex;
  justify-content: flex-end;
}

.images {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  margin-left: 25px;
}
